{% extends 'MabaOAuthCommerceAccountsBundle::base.html.twig' %}
{% block title %}About{% endblock %}
{% block styles %}
    <style>
        table.table tr .income {
            /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
            color: #669533;
        }
        table.table tr .outcome {
            /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
            color: #BD4247;
        }
        table.table tr th, table.table tbody tr:first-child td {
            border-top-width: 2px;
            border-top-color: #D0D0D0;
        }
        table.table tr .numbers {
            font-family: monospace;
            font-weight: normal;
        }

    </style>
{% endblock %}
{% block content %}
    <p>This is example system, implementing proposed OAuth commerce model.</p>
    <p>Please select any of other pages to test this system.</p>
    <p>
        Transaction confirmation can be tested from related e-shop, for example from
        <a href="https://shop.maba.lt/" target="_blank">shop.maba.lt</a>
    </p>
{% endblock %}